<footer>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/register">Registro</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/profile">Mi perfil</a></li>
      <li><a href="/carrito">Mi carrito</a></li>
      <li><a href="/chat">Chat</a></li>
      
    </ul>
  </nav>
</footer>