
<div >
    <div >
        <div >
            <div class="card">
                <div >
                    Chat
                </div>
                <div  id="chat-box" style="height: 300px;overflow-y: scroll;">
                    <!-- Aquí se mostrarán los mensajes -->
                </div>
                <div >
                    <div >
                        <input type="text" id="message-input" class="form-control" placeholder="Escribe tu mensaje...">
                        <div >
                            <button  onclick="sendMessage()">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/chat.js"></script>