    <h1>Bienvenido al E-Commerce</h1>

    <div class="card-container">

        <h5 class="card-header">Carritos Activos</h5>

        <div class="card-body" id="carritosActivos">
            <table class="table-hover">
                <tbody id="listaCarritos"></tbody>
            </table>
        </div>

        <div class="card-footer" style="text-align:right;">
            <button type="button" id="newCarrito">Nuevo Carrito</button>
        </div>
        
    </div>

    <script defer type="text/javascript" src="/static/js/carritosOn.js"></script>